*,::after,::before
{
    box-sizing:border-box;
    margin:0;
    padding:0
}

html
{
    font-family: Arial,sans-serif;
    font-size:62.5%
}

body
{
    position:relative
}

.test
{
    font-size:1.8rem;
    line-height:120%
}

h1.heading
{
    font-size:2.9rem;
    font-weight:700
}

h1:first-child,p:first-child
{
    margin-top:0
}

.resulting.message,.resulting.message .test.paragraph
{
    font-size:1.6rem
}

p+p
{
    margin-top:1.5rem
}

button
{
    font-size:1.6rem;
    font-variant:small-caps
}

.test.paragraph.accent
{
    font-size:1.1em
}

.test.paragraph.accent .accent.profession
{
    display:block;
    font-size:1em;
    font-weight:700
}

.test.list+.test.paragraph,.test.paragraph+.test.list
{
    margin-top:1.2rem
}

.test.list
{
    padding-left:3rem
}

.test.list li+li
{
    margin-top:.9rem
}

.hidden
{
    display:none!important
}

.visually-hidden
{
    width:1px;
    height:1px;
    clip:rect(1px,1px,1px,1px);
    position:absolute;
    font-size:0
}

.wrap
{
    display:flex;
    align-items:center;
    width:100%;
    min-height:100vh;
    padding:60px 10px;
    font-size:1.8rem;
    background-position:-25px -50px;
    background-size:calc(100% + 50px);
    background-repeat:no-repeat;
    transition:background-image 1s,background-size 1s,color 1s,font-weight .2s
}

.wrap .credits
{
    content:'';
    position:absolute;
    bottom:29px;
    height:17px;
    right:calc((100% - 915px)/ 2);
    width:240px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:right center
}

.test.container
{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:915px;
    min-height:600px;
    margin-left:auto;
    margin-right:auto;
    padding:120px 200px;
    border:6px solid #fff;
    box-shadow:0 4px 14px rgba(0,0,0,.25);
    transition:background-color 1s
}

.test.container::before
{
    content:"Какое направление в IT выбрать?";
    position:absolute;
    bottom:5px;
    left:25px;
    font-size:2rem;
    font-weight:300;
    text-transform:uppercase;
    transform:rotate(-90deg);
    transform-origin:left top
}

.test.container::after
{
    content:"";
    position:absolute;
    right:-116px;
    top:25px;
    width:141px;
    height:30px;
    background-size:141px 30px;
    transform:rotate(90deg);
    transform-origin:left top;
    transition:background-image 1s
}

.test.choice
{
    position:relative;
    margin-top:80px
}

.test.choice::before
{
    content:'';
    position:absolute;
    width:100%;
    height:2px;
    top:-40px
}

.unscrollable
{
    overflow:hidden;
    height:100vh
}

.test.form.counter
{
    display:block;
    text-align:center;
    margin:2.5rem 0
}

.test.form.counter::after
{
    content:"/12"
}

.test.form.pair.label
{
    display:block
}

.test.form.pair.label:hover
{
    cursor:pointer
}

.test.form.pair.label+.test.form.pair.label
{
    margin-top:2.5rem
}

.test.form.pair.input
{
    position:absolute;
    width:1px;
    height:1px;
    clip:rect(1px,1px,1px,1px)
}

.test.form.pair.input:checked~.test.form.pair.text::before
{
    border-width:7px;
    animation:elastic .25s 1 ease-in
}

.test.form.pair.text
{
    position:relative;
    display:block;
    padding-left:3.3rem
}

.test.form.pair.text::before
{
    content:"";
    position:absolute;
    left:0;
    top:calc(50% - 1.1rem);
    display:block;
    width:2.2rem;
    height:2.2rem;
    border-style:solid;
    border-radius:50%;
    border-width:1px
}

.test.form.pair.input:checked~.test.form.pair.text,.test.form.pair.input:focus~.test.form.pair.text
{
    transition:font-weight .25s
}

.test.buttons
{
    display:flex;
    flex-wrap:nowrap;
    margin-top:50px
}

.test.button.nav:not([hidden])+.test.button.nav
{
    margin-left:50px
}

.test.button
{
    position:relative;
    flex-grow:1;
    padding:1.3rem;
    border:1px solid;
    background-color:transparent;
    cursor:pointer;
    transition:font-weight .2s,border-color 1s,color 1s
}

@media (min-width: 641px) and (max-width: 1000px)
{
    .wrap .credits
    {
        right:calc((100% - 90% + 12px)/ 2)
    }
    .test.container
    {
        width:90%;
        padding:120px
    }
}

@media (max-width: 640px)
{
    html
    {
        font-size:52.5%
    }
    .wrap
    {
        padding:10px 10px 30px 10px;
        transition:none
    }
    .wrap .credits
    {
        right:10px;
        bottom:7px;
        max-width:calc(50% - 50px)
    }
    .test.container
    {
        width:100%;
        padding:90px 25px 40px;
        min-height:auto
    }
    .test.container::before
    {
        left:25px;
        top:45px;
        font-size:1.9rem;
        transform:inherit
    }
    .test.container::after
    {
        content:initial
    }
    .test.form.counter
    {
        font-size:1.5rem;
        margin:1.8rem 0
    }
    .test.buttons
    {
        margin-top:25px
    }
    .test.button.nav+.test.button.nav
    {
        margin-left:20px
    }
}

